body {
  background: #eee;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  height: 40px;
}

.btn {
  height: 40px;
}

.login {
  background: #fff;
  margin: 80px 0 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
}

.login-logo img {
  margin-bottom: 20px;
}

.shadow {
  -moz-box-shadow:    0 0 6px 0 #333;
  -webkit-box-shadow: 0 0 6px 0 #333;
  box-shadow:         0 0 6px 0 #333;
}

.shadow-bottom {
    -webkit-box-shadow: 0 8px 6px -6px #333;
    -moz-box-shadow: 0 8px 6px -6px #333;
    box-shadow: 0 8px 6px -6px #333;
}